%h1 Listing Bookings

= link_to 'Extract', workshop_bookings_extract_path, class: 'btn btn-primary my-3'
= link_to 'Load', workshop_bookings_load_path, class: 'btn btn-primary my-3'
= link_to 'Errors', workshop_bookings_errors_path, class: 'btn btn-primary my-3'
= link_to 'Clean', workshop_bookings_path, class: 'btn btn-primary my-3'

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th ID
        %th Mechanic name
        %th Client name
        %th Car
        %th Date
        %th Hour
        %th Description
        %th
        %th

    %tbody
      - @workshop_bookings.each do |workshop_booking|
        %tr
          %td= workshop_booking.id
          - td_for(workshop_booking, :mechanic_name)
          - td_for(workshop_booking, :client_name)
          - td_for(workshop_booking, :car)
          - td_for(workshop_booking, :date)
          - td_for(workshop_booking, :hour)
          - td_for(workshop_booking, :description)
          %td= link_to 'Edit', edit_workshop_booking_path(workshop_booking)
          %td= link_to 'Destroy', workshop_booking, method: :delete, data: { confirm: 'Are you sure?' }

  %br
