%h1 Listing Addresses

= link_to 'Extract', sales_addresses_extract_path, class: 'btn btn-primary my-3'
= link_to 'Load', sales_addresses_load_path, class: 'btn btn-primary my-3'
= link_to 'Errors', sales_addresses_errors_path, class: 'btn btn-primary my-3'
= link_to 'Clean', sales_addresses_path, class: 'btn btn-primary my-3'

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th ID
        %th Client name
        %th Address line
        %th City
        %th State
        %th Country
        %th Zip code
        %th
        %th

    %tbody
      - @sales_addresses.each do |sales_address|
        %tr
          %td= sales_address.id
          - td_for(sales_address, :client_name)
          - td_for(sales_address, :address_line)
          - td_for(sales_address, :city)
          - td_for(sales_address, :state)
          - td_for(sales_address, :country)
          - td_for(sales_address, :zip_code)
          %td= link_to 'Edit', edit_sales_address_path(sales_address)
          %td= link_to 'Destroy', sales_address, method: :delete, data: { confirm: 'Are you sure?' }

%br
