%h1 Listing Addresses

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th Client name
        %th Address line
        %th City
        %th State
        %th Country
        %th Zip code
        %th
        %th

    %tbody
      - @sales_addresses.each do |sales_address|
        %tr
          %td= sales_address.client_name
          %td= sales_address.address_line
          %td= sales_address.city
          %td= sales_address.state
          %td= sales_address.country
          %td= sales_address.zip_code
          %td= link_to 'Edit', edit_sales_address_path(sales_address)
          %td= link_to 'Destroy', sales_address, method: :delete, data: { confirm: 'Are you sure?' }

%br
