%h1 Listing Cars

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th Client name
        %th Maker
        %th Car
        %th Color
        %th Year
        %th License plate
        %th Serial number
        %th
        %th

    %tbody
      - @workshop_cars.each do |workshop_car|
        %tr
          %td= workshop_car.client_name
          %td= workshop_car.maker
          %td= workshop_car.car
          %td= workshop_car.color
          %td= workshop_car.year
          %td= workshop_car.license_plate
          %td= workshop_car.serial_number
          %td= link_to 'Edit', edit_workshop_car_path(workshop_car)
          %td= link_to 'Destroy', workshop_car, method: :delete, data: { confirm: 'Are you sure?' }

%br
