%h1 Listing Cars

= link_to 'Extract', workshop_cars_extract_path, class: 'btn btn-primary my-3'
= link_to 'Errors', workshop_cars_errors_path, class: 'btn btn-primary my-3'
= link_to 'Clean', workshop_cars_path, class: 'btn btn-primary my-3'

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th ID
        %th Client name
        %th Maker
        %th Car
        %th Color
        %th Year
        %th License plate
        %th Serial number
        %th
        %th

    %tbody
      - @workshop_cars.each do |workshop_car|
        %tr
          %td= workshop_car.id
          - td_for(workshop_car, :client_name)
          - td_for(workshop_car, :maker)
          - td_for(workshop_car, :car)
          - td_for(workshop_car, :color)
          - td_for(workshop_car, :year)
          - td_for(workshop_car, :license_plate)
          - td_for(workshop_car, :serial_number)
          %td= link_to 'Edit', edit_workshop_car_path(workshop_car)
          %td= link_to 'Destroy', workshop_car, method: :delete, data: { confirm: 'Are you sure?' }

%br
