= form_for @parts_bill do |f|
  - if @parts_bill.errors.any?
    #error_explanation.alert.alert-danger.alert-dismissible.fade.show.p-3.m-3
      %h2= "#{pluralize(@parts_bill.errors.count, "error")} prohibited this parts_bill from being saved:"
      %button{type: 'button', class: 'close', 'data-dismiss': 'alert', 'arial-label': 'Close'}
        %span{'aria-hidden': 'true'} x
      %ul
        - @parts_bill.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :client_name
    = f.text_field :client_name, class: 'form-control'
  .form-group
    = f.label :rfc
    = f.text_field :rfc, class: 'form-control'
  .form-group
    = f.label :date
    = f.text_field :date, class: 'form-control'
  .form-group
    = f.label :product
    = f.text_field :product, class: 'form-control'
  .form-group
    = f.label :price
    = f.text_field :price, class: 'form-control'
  .form-group
    = f.label :amount
    = f.text_field :amount, class: 'form-control'
  .form-group
    = f.label :sub_total
    = f.text_field :sub_total, class: 'form-control'
  .form-group
    = f.label :tax_percentage
    = f.text_field :tax_percentage, class: 'form-control'
  .form-group
    = f.label :tax_amount
    = f.text_field :tax_amount, class: 'form-control'
  .form-group
    = f.label :total
    = f.text_field :total, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
