%h1 Listing Bills

= link_to 'Extract', parts_bills_extract_path, class: 'btn btn-primary my-3'
= link_to 'Load', parts_bills_load_path, class: 'btn btn-primary my-3'
= link_to 'Errors', parts_bills_errors_path, class: 'btn btn-primary my-3'
= link_to 'Clean', parts_bills_path, class: 'btn btn-primary my-3'

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th ID
        %th Client name
        %th RFC
        %th Date
        %th Product
        %th Price
        %th Amount
        %th Sub total
        %th Tax percentage
        %th Tax amount
        %th Total
        %th
        %th

    %tbody
      - @parts_bills.each do |parts_bill|
        %tr
          %td= parts_bill.id
          - td_for(parts_bill, :client_name)
          - td_for(parts_bill, :rfc)
          - td_for(parts_bill, :date)
          - td_for(parts_bill, :product)
          - td_for(parts_bill, :price)
          - td_for(parts_bill, :amount)
          - td_for(parts_bill, :sub_total)
          - td_for(parts_bill, :tax_percentage)
          - td_for(parts_bill, :tax_amount)
          - td_for(parts_bill, :total)
          %td= link_to 'Edit', edit_parts_bill_path(parts_bill)
          %td= link_to 'Destroy', parts_bill, method: :delete, data: { confirm: 'Are you sure?' }

%br
