= form_for @sales_test_drive do |f|
  - if @sales_test_drive.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sales_test_drive.errors.count, "error")} prohibited this test drive from being saved:"
      %ul
        - @sales_test_drive.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :client_name
    = f.text_field :client_name
  .field
    = f.label :agent_name
    = f.text_field :agent_name
  .field
    = f.label :car
    = f.text_field :car
  .field
    = f.label :date
    = f.text_field :date
  .field
    = f.label :hour
    = f.text_field :hour
  .field
    = f.label :license_number
    = f.text_field :license_number
  .field
    = f.label :inital_miles
    = f.text_field :inital_miles
  .field
    = f.label :final_miles
    = f.text_field :final_miles
  .actions
    = f.submit 'Save'
