%h1 Listing Tests Drive

= link_to 'Extract', sales_test_drives_extract_path, class: 'btn btn-primary my-3'
= link_to 'Errors', sales_test_drives_errors_path, class: 'btn btn-primary my-3'
= link_to 'Clean', sales_test_drives_path, class: 'btn btn-primary my-3'

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th ID
        %th Client name
        %th Agent name
        %th Car
        %th Date
        %th Hour
        %th License number
        %th Inital miles
        %th Final miles
        %th
        %th

    %tbody
      - @sales_test_drives.each do |sales_test_drive|
        %tr
          %td= sales_test_drive.id
          - td_for(sales_test_drive, :client_name)
          - td_for(sales_test_drive, :agent_name)
          - td_for(sales_test_drive, :car)
          - td_for(sales_test_drive, :date)
          - td_for(sales_test_drive, :hour)
          - td_for(sales_test_drive, :license_number)
          - td_for(sales_test_drive, :inital_miles)
          - td_for(sales_test_drive, :final_miles)
          %td= link_to 'Edit', edit_sales_test_drife_path(sales_test_drive)
          %td= link_to 'Destroy', sales_test_drive, method: :delete, data: { confirm: 'Are you sure?' }

%br
