= form_for @sales_deal do |f|
  - if @sales_deal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sales_deal.errors.count, "error")} prohibited this sales_deal from being saved:"
      %ul
        - @sales_deal.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :client_name
    = f.text_field :client_name
  .field
    = f.label :agent_name
    = f.text_field :agent_name
  .field
    = f.label :car
    = f.text_field :car
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :date
    = f.text_field :date
  .field
    = f.label :monthly_payment
    = f.text_field :monthly_payment
  .field
    = f.label :payment_due_day
    = f.text_field :payment_due_day
  .actions
    = f.submit 'Save'
