%h1 Listing Deals

= link_to 'Extract', sales_deals_extract_path, class: 'btn btn-primary my-3'
= link_to 'Load', sales_deals_load_path, class: 'btn btn-primary my-3'
= link_to 'Errors', sales_deals_errors_path, class: 'btn btn-primary my-3'
= link_to 'Clean', sales_deals_path, class: 'btn btn-primary my-3'

.table-resposive
  %table.table.table-hover
    %thead
      %tr
        %th ID
        %th Client name
        %th Agent name
        %th Car
        %th Price
        %th Date
        %th Monthly payment
        %th Payment due day
        %th
        %th

    %tbody
      - @sales_deals.each do |sales_deal|
        %tr
          %td= sales_deal.id
          - td_for(sales_deal, :client_name)
          - td_for(sales_deal, :agent_name)
          - td_for(sales_deal, :car)
          - td_for(sales_deal, :price)
          - td_for(sales_deal, :date)
          - td_for(sales_deal, :monthly_payment)
          - td_for(sales_deal, :payment_due_day)
          %td= link_to 'Edit', edit_sales_deal_path(sales_deal)
          %td= link_to 'Destroy', sales_deal, method: :delete, data: { confirm: 'Are you sure?' }

%br
