%h1 Listing Sales

= link_to 'Extract', parts_sales_extract_path, class: 'btn btn-primary my-3'
= link_to 'Load', parts_sales_load_path, class: 'btn btn-primary my-3'
= link_to 'Errors', parts_sales_errors_path, class: 'btn btn-primary my-3'
= link_to 'Clean', parts_sales_path, class: 'btn btn-primary my-3'

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th ID
        %th Client name
        %th Employee name
        %th Date
        %th Product
        %th Price
        %th Amount
        %th Total
        %th
        %th

    %tbody
      - @parts_sales.each do |parts_sale|
        %tr
          %td= parts_sale.id
          - td_for(parts_sale, :client_name)
          - td_for(parts_sale, :employee_name)
          - td_for(parts_sale, :date)
          - td_for(parts_sale, :product)
          - td_for(parts_sale, :price)
          - td_for(parts_sale, :amount)
          - td_for(parts_sale, :total)
          %td= link_to 'Edit', edit_parts_sale_path(parts_sale)
          %td= link_to 'Destroy', parts_sale, method: :delete, data: { confirm: 'Are you sure?' }

%br
