= form_for @parts_spare_part do |f|
  - if @parts_spare_part.errors.any?
    #error_explanation
      %h2= "#{pluralize(@parts_spare_part.errors.count, "error")} prohibited this parts_spare_part from being saved:"
      %ul
        - @parts_spare_part.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :car_model
    = f.text_field :car_model
  .field
    = f.label :car_maker
    = f.text_field :car_maker
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :stock
    = f.text_field :stock
  .field
    = f.label :reorder
    = f.text_field :reorder
  .actions
    = f.submit 'Save'
