%h1 Listing Supplier Orders

= link_to 'Extract', parts_supplier_orders_extract_path, class: 'btn btn-primary my-3'
= link_to 'Load', parts_supplier_orders_load_path, class: 'btn btn-primary my-3'
= link_to 'Errors', parts_supplier_orders_errors_path, class: 'btn btn-primary my-3'
= link_to 'Clean', parts_supplier_orders_path, class: 'btn btn-primary my-3'

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th ID
        %th Employee name
        %th Date
        %th Supplier tradename
        %th Status
        %th Delivery date
        %th Article
        %th Price
        %th Amount
        %th Total
        %th
        %th

    %tbody
      - @parts_supplier_orders.each do |parts_supplier_order|
        %tr
          %td= parts_supplier_order.id
          - td_for(parts_supplier_order, :employee_name)
          - td_for(parts_supplier_order, :date)
          - td_for(parts_supplier_order, :supplier_tradename)
          - td_for(parts_supplier_order, :status)
          - td_for(parts_supplier_order, :delivery_date)
          - td_for(parts_supplier_order, :article)
          - td_for(parts_supplier_order, :price)
          - td_for(parts_supplier_order, :amount)
          - td_for(parts_supplier_order, :total)
          %td= link_to 'Edit', edit_parts_supplier_order_path(parts_supplier_order)
          %td= link_to 'Destroy', parts_supplier_order, method: :delete, data: { confirm: 'Are you sure?' }

%br
