%h1 Listing Inspections

= link_to 'Extract', workshop_inspections_extract_path, class: 'btn btn-primary my-3'
= link_to 'Load', workshop_inspections_load_path, class: 'btn btn-primary my-3'
= link_to 'Errors', workshop_inspections_errors_path, class: 'btn btn-primary my-3'
= link_to 'Clean', workshop_inspections_path, class: 'btn btn-primary my-3'

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th ID
        %th Car
        %th Mechanic name
        %th Date
        %th Mileage
        %th Fuel level
        %th Comment
        %th
        %th

    %tbody
      - @workshop_inspections.each do |workshop_inspection|
        %tr
          %td= workshop_inspection.id
          - td_for(workshop_inspection, :car)
          - td_for(workshop_inspection, :mechanic_name)
          - td_for(workshop_inspection, :date)
          - td_for(workshop_inspection, :mileage)
          - td_for(workshop_inspection, :fuel_level)
          - td_for(workshop_inspection, :comment)
          %td= link_to 'Edit', edit_workshop_inspection_path(workshop_inspection)
          %td= link_to 'Destroy', workshop_inspection, method: :delete, data: { confirm: 'Are you sure?' }

%br
