= form_for @workshop_mechanic do |f|
  - if @workshop_mechanic.errors.any?
    #error_explanation
      %h2= "#{pluralize(@workshop_mechanic.errors.count, "error")} prohibited this workshop_mechanic from being saved:"
      %ul
        - @workshop_mechanic.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :cellphone
    = f.text_field :cellphone
  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Save'
