%h1 Listing Employees

= link_to 'Extract', sales_employees_extract_path, class: 'btn btn-primary my-3'
= link_to 'Load', sales_employees_load_path, class: 'btn btn-primary my-3'
= link_to 'Errors', sales_employees_errors_path, class: 'btn btn-primary my-3'
= link_to 'Clean', sales_employees_path, class: 'btn btn-primary my-3'

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th ID
        %th Name
        %th Last name
        %th Phone
        %th Email
        %th
        %th

    %tbody
      - @sales_employees.each do |sales_employee|
        %tr
          %td= sales_employee.id
          - td_for(sales_employee, :name)
          - td_for(sales_employee, :last_name)
          - td_for(sales_employee, :phone)
          - td_for(sales_employee, :email)
          %td= link_to 'Edit', edit_sales_employee_path(sales_employee)
          %td= link_to 'Destroy', sales_employee, method: :delete, data: { confirm: 'Are you sure?' }

%br
