= form_for @workshop_inspection_point do |f|
  - if @workshop_inspection_point.errors.any?
    #error_explanation
      %h2= "#{pluralize(@workshop_inspection_point.errors.count, "error")} prohibited this workshop_inspection_point from being saved:"
      %ul
        - @workshop_inspection_point.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :car
    = f.text_field :car
  .field
    = f.label :date
    = f.text_field :date
  .field
    = f.label :point
    = f.text_field :point
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :comment
    = f.text_field :comment
  .actions
    = f.submit 'Save'
