%h1 Listing Bills

= link_to 'Extract', sales_bills_extract_path, class: 'btn btn-primary my-3'
= link_to 'Load', sales_bills_load_path, class: 'btn btn-primary my-3'
= link_to 'Errors', sales_bills_errors_path, class: 'btn btn-primary my-3'
= link_to 'Clean', sales_bills_path, class: 'btn btn-primary my-3'

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th ID
        %th Client name
        %th RFC
        %th Date
        %th Sub total
        %th Tax percentage
        %th Tax
        %th Total
        %th
        %th

    %tbody
      - @sales_bills.each do |sales_bill|
        %tr
          %td= sales_bill.id
          - td_for(sales_bill, :client_name)
          - td_for(sales_bill, :rfc)
          - td_for(sales_bill, :date)
          - td_for(sales_bill, :sub_total)
          - td_for(sales_bill, :tax_percentage)
          - td_for(sales_bill, :tax)
          - td_for(sales_bill, :total)
          %td= link_to 'Edit', edit_sales_bill_path(sales_bill)
          %td= link_to 'Destroy', sales_bill, method: :delete, data: { confirm: 'Are you sure?' }

%br
