%h1 Listing Repairs

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th Date
        %th Mechanic name
        %th Car
        %th Description
        %th Total
        %th
        %th

    %tbody
      - @workshop_repairs.each do |workshop_repair|
        %tr
          %td= workshop_repair.date
          %td= workshop_repair.mechanic_name
          %td= workshop_repair.car
          %td= workshop_repair.description
          %td= workshop_repair.total
          %td= link_to 'Edit', edit_workshop_repair_path(workshop_repair)
          %td= link_to 'Destroy', workshop_repair, method: :delete, data: { confirm: 'Are you sure?' }

%br
