%h1 Listing Employees

= link_to 'Extract', parts_employees_extract_path, class: 'btn btn-primary my-3'
= link_to 'Load', parts_employees_load_path, class: 'btn btn-primary my-3'
= link_to 'Errors', parts_employees_errors_path, class: 'btn btn-primary my-3'
= link_to 'Clean', parts_employees_path, class: 'btn btn-primary my-3'

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th ID
        %th Name
        %th Phone
        %th Cellphone
        %th Email
        %th
        %th

    %tbody
      - @parts_employees.each do |parts_employee|
        %tr
          %td= parts_employee.id
          - td_for(parts_employee, :name)
          - td_for(parts_employee, :phone)
          - td_for(parts_employee, :cellphone)
          - td_for(parts_employee, :email)
          %td= link_to 'Edit', edit_parts_employee_path(parts_employee)
          %td= link_to 'Destroy', parts_employee, method: :delete, data: { confirm: 'Are you sure?' }

%br
