%h1 Listing Clients

= link_to 'Extract', sales_clients_extract_path, class: 'btn btn-primary my-3'
= link_to 'Errors', sales_clients_errors_path, class: 'btn btn-primary my-3'
= link_to 'Clean', sales_clients_path, class: 'btn btn-primary my-3'

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th ID
        %th Name
        %th Phone
        %th Cellphone
        %th Email
        %th Rfc
        %th
        %th

    %tbody
      - @sales_clients.each do |sales_client|
        %tr
          %td= sales_client.id
          - td_for(sales_client, :name)
          - td_for(sales_client, :phone)
          - td_for(sales_client, :cellphone)
          - td_for(sales_client, :email)
          - td_for(sales_client, :rfc)
          %td= link_to 'Edit', edit_sales_client_path(sales_client)
          %td= link_to 'Destroy', sales_client, method: :delete, data: { confirm: 'Are you sure?' }

%br
