%h1 Listing Sale Returns

= link_to 'Extract', parts_sale_returns_extract_path, class: 'btn btn-primary my-3'
= link_to 'Load', parts_sale_returns_load_path, class: 'btn btn-primary my-3'
= link_to 'Errors', parts_sale_returns_errors_path, class: 'btn btn-primary my-3'
= link_to 'Clean', parts_sale_returns_path, class: 'btn btn-primary my-3'

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th ID
        %th Client name
        %th Date
        %th Article
        %th Refound
        %th Comment
        %th
        %th

    %tbody
      - @parts_sale_returns.each do |parts_sale_return|
        %tr
          %td= parts_sale_return.id
          - td_for(parts_sale_return, :client_name)
          - td_for(parts_sale_return, :date)
          - td_for(parts_sale_return, :article)
          - td_for(parts_sale_return, :refound)
          - td_for(parts_sale_return, :comment)
          %td= link_to 'Edit', edit_parts_sale_return_path(parts_sale_return)
          %td= link_to 'Destroy', parts_sale_return, method: :delete, data: { confirm: 'Are you sure?' }

%br
