.header
  %nav#navbar-main.navbar.navbar-expand-md.navbar-dark.bg-dark
    %h2.navbar-brand.mb-0
      Car Dealer
    %ul.navbar-nav.mr-auto
      %li.nav-time.active
        = link_to root_path, class: 'nav-link active' do
          %i.fas.fa-home
            Home
      %li.nav-item.dropdown
        = link_to 'Sales', '#', { id: 'salesDropdown', class: 'nav-link dropdown-toggle',
                                  role: 'button', 'data-toggle': 'dropdown',
                                  aria: {haspopup: true, expanded: false} }
        .dropdown-menu{'aria-labelledby': 'salesDropdown'}
          = link_to 'Employees', sales_employees_path, class: 'dropdown-item'
          = link_to 'Addresses', sales_addresses_path, class: 'dropdown-item'
          = link_to 'Cars', sales_cars_path, class: 'dropdown-item'
          = link_to 'Tests Drive', sales_test_drives_path, class: 'dropdown-item'
          = link_to 'Deals', sales_deals_path, class: 'dropdown-item'
          = link_to 'Bills', sales_bills_path, class: 'dropdown-item'
          = link_to 'Payments', sales_payments_path, class: 'dropdown-item'
          = link_to 'Clients', sales_clients_path, class: 'dropdown-item'
      %li.nav-item.dropdown
        = link_to 'Workshop', '#', { id: 'workshopDropdown', class: 'nav-link dropdown-toggle',
                                  role: 'button', 'data-toggle': 'dropdown',
                                  aria: {haspopup: true, expanded: false} }
        .dropdown-menu{'aria-labelledby': 'workshopDropdown'}
          = link_to 'Clients', workshop_clients_path, class: 'dropdown-item'
          = link_to 'Cars', workshop_cars_path, class: 'dropdown-item'
          = link_to 'Bookings', workshop_bookings_path, class: 'dropdown-item'
          = link_to 'Pieces', workshop_pieces_path, class: 'dropdown-item'
          = link_to 'Mechanics', workshop_mechanics_path, class: 'dropdown-item'
          = link_to 'Repairs', workshop_repairs_path, class: 'dropdown-item'
          = link_to 'Bills', workshop_bills_path, class: 'dropdown-item'
          = link_to 'Inspections', workshop_inspections_path, class: 'dropdown-item'
          = link_to 'Inspection Points', workshop_inspection_points_path, class: 'dropdown-item'
      %li.nav-item.dropdown
        = link_to 'Parts', '#', { id: 'workshopDropdown', class: 'nav-link dropdown-toggle',
                                  role: 'button', 'data-toggle': 'dropdown',
                                  aria: {haspopup: true, expanded: false} }
        .dropdown-menu{'aria-labelledby': 'partsDropdown'}
          = link_to 'Clients', parts_clients_path, class: 'dropdown-item'
          = link_to 'Employees', parts_employees_path, class: 'dropdown-item'
          = link_to 'Sales', parts_sales_path, class: 'dropdown-item'

    %ul.navbar-nav
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{ href: '#', role: 'button', 'data-toggle': 'dropdown',
                                     aria: { expanded: false, haspopup: true } }
          %span= current_user.email
        .dropdown-menu
          =link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
            %i.fas.fa-sign-out-alt~ " Log out"
