.header
  %nav#navbar-main.navbar.navbar-expand-md.navbar-dark.bg-dark
    %h2.navbar-brand.mb-0
      Car Dealer
    %ul.navbar-nav.mr-auto
      %li.nav-time.active
        = link_to root_path, class: 'nav-link active' do
          %i.fas.fa-home
            Home
      %li.nav-item.dropdown
        = link_to 'Sales', '#', { id: 'salesDropdown', class: 'nav-link dropdown-toggle',
                                  role: 'button', 'data-toggle': 'dropdown',
                                  aria: {haspopup: true, expanded: false} }
        .dropdown-menu{'aria-labelledby': 'salesDropdown'}
          = link_to 'Employees', sales_employees_path, class: 'dropdown-item'
          = link_to 'Addresses', sales_addresses_path, class: 'dropdown-item'
          = link_to 'Cars', sales_cars_path, class: 'dropdown-item'
          = link_to 'Tests Drive', sales_test_drives_path, class: 'dropdown-item'
          = link_to 'Deals', sales_deals_path, class: 'dropdown-item'
    %ul.navbar-nav
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{ href: '#', role: 'button', 'data-toggle': 'dropdown',
                                     aria: { expanded: false, haspopup: true } }
          %span= current_user.email
        .dropdown-menu
          =link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
            %i.fas.fa-sign-out-alt~ " Log out"
